.btn {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1em 3em;
  display: inline-block;
  border-radius: 10em;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-5%);
  box-shadow: 0 1em 2em rgba(35, 35, 35, 0.3);
}

.btn:active {
  transform: translateY(-1%);
  box-shadow: 0 0.5em 1em rgba(35, 35, 35, 0.3);
}

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10em;
  z-index: -1;
  transition: all .3s;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn--green {
  background-color: rgb(4, 148, 88);
  color: #fff !important;
}

.btn--green::after {
  background-color: rgb(4, 148, 88);
}

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}