.question {
  margin: 2rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  animation: moveInLeft ease-out 0.6s;
}

.question-matrix {
  overflow-x: auto;
  animation-delay: 1s;
  animation: fadeIn ease-in-out 1s;
  animation-fill-mode: backwards;
}

.summary-content {
  animation-delay: 1.5s;
  animation: fadeIn ease-in-out 1s;
  animation-fill-mode: backwards;
}

.question-title,
.summary-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.question-title {
  font-style: italic;
}

.summary-view p {
  font-size: 1.4rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #00a1ff;
  margin-bottom: 2rem;
}

tr,
th,
td {
  text-align: center;
}

td,
th {
  padding: 1rem;
  font-style: italic;
}

tr {
  font-size: 1.6rem;
}

.removing {
  animation: moveOutUp ease-out 1s;
}

.adding {
  animation: moveInDown ease-out 1s;
}

tbody tr:last-child td:first-child.add-button {
  color: green;
  font-weight: 700;
  cursor: pointer;
}

thead tr:nth-child(2) td:last-child.add-button {
  color: green;
  font-weight: 700;
  cursor: pointer;
}

/* tbody tr:nth-last-child(2) {
  animation: moveInDown ease-out 1s;
} */

thead tr:first-child td.remove-button,
tbody tr td:first-child.remove-button {
  color: red;
  cursor: pointer;
}

.remove-button:hover,
.add-button:hover {
  transform: translateY(-5%);
}

.remove-button:active,
.add-button:active {
  transform: translateY(0);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveOutUp {
  0% {
    opacity: 1;
    transform: translateY(40%);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}