*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(244, 247, 250, 0.959);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

input {
  border: none;
  padding: 0;
}